@{
    ViewData["Title"] = "ResetPassword";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Aca cambias el password</h3>  

<form action="/ResetPassword" method="post">

    <input type="type" name="password" value="" />

    <input type="type" name="password2" value="" />

    <button type="submit">Cambiar el password</button>

</form>